<a href="https://colab.research.google.com/github/ssunwalka01/NER/blob/master/Slintel_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- importing the libraries here...

In [219]:
import nltk
# nltk.download()
import pandas as pd
import spacy
# from spacy import displacy
# from collections import Counter
import en_core_web_sm
nlp = en_core_web_sm.load()

In [220]:
# !python -m spacy download en_core_web_lg

In [221]:
master = pd.read_csv("/content/master-company-sheet.csv")
blogs = pd.read_csv("/content/news-data.csv")
output = pd.read_csv("/content/output-sheet.csv")

In [222]:
print("master sheet", master.head())
print("\n\nmaster sheet data types\n", master.dtypes)

master sheet    _id                            name
0    1                      Telefónica
1    2             Corsair Capital LLC
2    3                            MSTS
3    4  Franklin Templeton Investments
4    5                      Legg Mason


master sheet data types
 _id      int64
name    object
dtype: object

In [223]:
print("blogs sheet", blogs.head())
print("\n\n blogs sheet data types\n", blogs.dtypes)

blogs sheet    _id  ...                  published_on
0    1  ...  2020-07-31T15:41:00.0000000Z
1    2  ...  2020-08-01T00:02:00.0000000Z
2    3  ...  2020-07-31T22:36:00.0000000Z
3    4  ...  2020-08-01T06:29:00.0000000Z
4    5  ...  2020-07-31T18:47:00.0000000Z

[5 rows x 6 columns]


 blogs sheet data types
 _id              int64
theme           object
source          object
title           object
description     object
published_on    object
dtype: object

In [224]:
print("output sheet", output.head())
print("\n\n output sheet data types\n", output.dtypes)

output sheet Empty DataFrame
Columns: [blog_id, title, description, company_ids]
Index: []


 output sheet data types
 blog_id        object
title          object
description    object
company_ids    object
dtype: object

In [225]:

def dictionary_with_title_description(df):
  " This function will return dictionaries containing blog id, company names from title, and company name from description"
  
  # company_names_title = {} # initialising empty dictionary for company names extracted from title
  company_names_description = {} # initialising empty dictionary for company names extracted from description
  # descriptionDict = {} # {index : [blog_id, title, description], index_2 : ...}
  
  # for i in range(0, len(df)):
    
    # descriptionDict.setdefault(i, [])
    # # The magic of setdefault is that it initializes the value for that key if that key is not defined, otherwise it does nothing.
    # descriptionDict[i].append(df.loc[i, "_id"]) # will be adding multiple values in a single key (Here, adding _id)

    # #  title
    # descriptionDict.setdefault(i, [])
    # descriptionDict[i].append(df.loc[i, "title"]) # adding title as value in dictionay

    # # description
    # descriptionDict.setdefault(i, [])
    # descriptionDict[i].append(df.loc[i, "description"]) #adding description as value in the dictionary

  for i in range(0, len(df)):
    doc = nlp(df.loc[i, "description"])

  #   for X in doc.ents:
  #     #print((X.text, X.label_, type(X.text), type(X.label_)))
      
  #     if X.label_ == 'ORG':

  #       company_names_description.setdefault(descriptionDict[i][0], [])
  #       company_names_description[descriptionDict[i][0]].append(X.text)

  #       # company_names_description.update({descriptionDict[i][0]:X.text})

  # print("company_names FROM description - ",company_names_description)

  # for i in range(0, len(df)):
  #   titl = nlp(descriptionDict[i][1])
    
    for X in doc.ents:
      #print((X.text, X.label_, type(X.text), type(X.label_)))
      
      if X.label_ == 'ORG':
        # company_names_title.update({descriptionDict[i][0]:X.text})

        company_names_description.setdefault(df.loc[i, "_id"], [])
        company_names_description[df.loc[i, "_id"]].append(X.text)
  print("Company names extracted from News Description : \n",company_names_description)


  return company_names_description

In [226]:
company_names_description = dictionary_with_title_description(blogs)

Company names extracted from News Description :
 {1: ['Xpeng Motors', 'Tesla', 'CNBC'], 3: ['Lemonaid Health', 'Olive Tree Ventures'], 4: ['United Community Banks', 'UCBI', 'ValuEngine', 'ValuEngine'], 5: ['Golden West Food Group', 'Cooks Venture'], 6: ['Amazon'], 7: ['XBiotech'], 8: ['Kodak'], 11: ['Apple'], 12: ['Microsoft', 'White House'], 13: ["SoftBank Group's", 'Arm Holdings', 'Bloomberg'], 14: ['Microsoft', 'TikTok', 'app'], 15: ['State', 'TikTok'], 17: ['Arm Holdings'], 18: ['Alta Equipment Group Inc.', 'Martin Implement Sales Inc.'], 19: ['Alta Equipment Group', 'NYSE', 'ALTG', 'Martin Implement Sales', 'Martin'], 20: ['Advent International', 'RA Chem Pharma', 'Micro Labs Limited'], 21: ['Gencor Industries, Inc.', 'œGencor', 'NASDAQ', 'Volvo CE'], 22: ['Microsoft', 'TikTok'], 23: ['Bloomberg', 'Nvidia Corp.', 'Arm Ltd.', 'SoftBank Group Corp.'], 24: ['Microsoft', 'TikTok'], 25: ['PAI Partners', 'Amplitude Surgical'], 26: ['TikTok', 'TikTok', 'State', 'TikTok'], 27: ['Microsoft', 'Bloomberg'], 28: ['SinglePoint Inc.', 'Direct Solar of America'], 29: ['TikTok'], 30: ['Microsoft', 'TikTok'], 32: ['Trump', 'TikTok'], 33: ['Microsoft Corp.', 'Microsoft'], 34: ['Microsoft', 'TikTok'], 35: ['Microsoft', 'TikTok', 'TikTok'], 36: ['Nokia', 'Vecima'], 37: ['SoftBank', 'ARM', 'the Financial Times'], 39: ['Multi Service Technology Solutions', 'MSTS', 'Corsair Capital'], 41: ['Legg Mason,', 'NYSE'], 42: ['The European Commission', 'Bombardier'], 43: ['NYSE', 'FCPT'], 44: ['SEC'], 45: ['KKR', 'MasterDss', 'KKR'], 46: ['Morgan Stanley', 'National Research Co.', 'NASDAQ', 'NRC', 'the Securities & Exchange Commission'], 47: ['RA Chem Pharma'], 48: ['IPS Cable Systems', 'Seacom', 'the Comesa Competition Commission'], 49: ['XCMG'], 50: ['AAPL', 'Apple'], 51: ['Xencor, Inc.', 'NASDAQ', 'XNCR'], 52: ['the Iowa Disposal Assistance Program'], 53: ['Editas Medicine, Inc.', 'Catalent'], 54: ['L3Harris Technologies', 'NYSE', 'EOTech', 'American Holoptics', 'Koucar Management'], 55: ['Onosys', 'ItsaCheckmate', 'POS'], 56: ['Finance & Treasury', 'CFO'], 57: ['Goldman Sachs'], 58: ['The National Institutes of Health'], 59: ["Access Business Technologies'", 'MortgageExchange'], 60: ['TTM Technologies', 'BidaskClub'], 61: ['Compulink Technolog', 'Compulink Technologies', 'USNY', 'Freshservice ITSM'], 62: ['Aristocrat Technologies', 'Dragon Link', 'Seminole Hard Rock Hotel & Casino Tampa'], 63: ['The Dance Academy of Loudoun'], 64: ['Tyson Foods', 'The state Department of Community and Economic Development'], 65: ['Medicaid', 'Nebraska', 'Medicaid', 'healthcare'], 68: ['PG&E'], 69: ['the Board of Directors'], 70: ["Lloyd's of London"], 71: ['Huawei'], 72: ['ByteDance'], 73: ['Rabo AgriFinances ag'], 74: ['Tech Community College', 'Kristen Schunk Moreland', 'Change Management', 'Strate'], 75: ['Dominion Energy'], 76: ['Dominion Energy'], 77: ['Dominion Energy'], 78: ['Amul'], 79: ['MediaBrains'], 80: ['Spectrum Networks', 'the Spectrum News App', 'The Spectrum News App'], 81: ['Fidelity', 'Avocado'], 82: ['Security Labs Community Edition'], 83: ['Walton'], 84: ['NASA'], 86: ['Globant SA', 'NYSE', 'the Continuity Studio'], 87: ['Ineos Hygienics'], 88: ["Domino's Pizza"], 89: ['Dominos Pizza', 'CMO'], 90: ['Cielo', 'Bridgestone Americas'], 91: ['ANN', 'MICH', 'Dominos Pizza,'], 92: ['the Behavioral Health Docket Team', 'Diana Fetterer'], 93: ['McDermott Will & Emery'], 94: ['Starwood Energy Group Global', 'LLC'], 95: ['Coplin Health Systems', 'Wirt County Family Care', 'Walker'], 96: ['Cores'], 97: ['Capitol Federal Financial', 'Board of Directors', 'the Size of Board'], 99: ['Durante Rentals', 'Liam'], 100: ['The Pakistan Cricket Board', 'PCB', 'CFO', 'the Board of Governors'], 101: ['Zilliqa'], 102: ['the Marvell Board', 'Marvell'], 103: ['StoneLock'], 104: ['Ross'], 105: ['Brand, Communications and Marketing', 'the Group Leadership Team'], 106: ['Acutus Medical'], 107: ['Checkmate Pharmaceuticals'], 108: ['Eventbrite Inc.'], 109: ['AlloVir'], 111: ['Vital Farms Inc.'], 112: ['Whole Foods', 'Nasdaq'], 113: ['ESSA Pharma Inc.']}

In [227]:
company_names_description_new = {}
for key, value in company_names_description.items():

  for j in range(0, len(value)):
    
    company_names_description_new[value[j]] = key

print("New Swapped Dictionary : \n", company_names_description_new)

New Swapped Dictionary :
 {'Xpeng Motors': 1, 'Tesla': 1, 'CNBC': 1, 'Lemonaid Health': 3, 'Olive Tree Ventures': 3, 'United Community Banks': 4, 'UCBI': 4, 'ValuEngine': 4, 'Golden West Food Group': 5, 'Cooks Venture': 5, 'Amazon': 6, 'XBiotech': 7, 'Kodak': 8, 'Apple': 50, 'Microsoft': 35, 'White House': 12, "SoftBank Group's": 13, 'Arm Holdings': 17, 'Bloomberg': 27, 'TikTok': 35, 'app': 14, 'State': 26, 'Alta Equipment Group Inc.': 18, 'Martin Implement Sales Inc.': 18, 'Alta Equipment Group': 19, 'NYSE': 86, 'ALTG': 19, 'Martin Implement Sales': 19, 'Martin': 19, 'Advent International': 20, 'RA Chem Pharma': 47, 'Micro Labs Limited': 20, 'Gencor Industries, Inc.': 21, 'œGencor': 21, 'NASDAQ': 51, 'Volvo CE': 21, 'Nvidia Corp.': 23, 'Arm Ltd.': 23, 'SoftBank Group Corp.': 23, 'PAI Partners': 25, 'Amplitude Surgical': 25, 'SinglePoint Inc.': 28, 'Direct Solar of America': 28, 'Trump': 32, 'Microsoft Corp.': 33, 'Nokia': 36, 'Vecima': 36, 'SoftBank': 37, 'ARM': 37, 'the Financial Times': 37, 'Multi Service Technology Solutions': 39, 'MSTS': 39, 'Corsair Capital': 39, 'Legg Mason,': 41, 'The European Commission': 42, 'Bombardier': 42, 'FCPT': 43, 'SEC': 44, 'KKR': 45, 'MasterDss': 45, 'Morgan Stanley': 46, 'National Research Co.': 46, 'NRC': 46, 'the Securities & Exchange Commission': 46, 'IPS Cable Systems': 48, 'Seacom': 48, 'the Comesa Competition Commission': 48, 'XCMG': 49, 'AAPL': 50, 'Xencor, Inc.': 51, 'XNCR': 51, 'the Iowa Disposal Assistance Program': 52, 'Editas Medicine, Inc.': 53, 'Catalent': 53, 'L3Harris Technologies': 54, 'EOTech': 54, 'American Holoptics': 54, 'Koucar Management': 54, 'Onosys': 55, 'ItsaCheckmate': 55, 'POS': 55, 'Finance & Treasury': 56, 'CFO': 100, 'Goldman Sachs': 57, 'The National Institutes of Health': 58, "Access Business Technologies'": 59, 'MortgageExchange': 59, 'TTM Technologies': 60, 'BidaskClub': 60, 'Compulink Technolog': 61, 'Compulink Technologies': 61, 'USNY': 61, 'Freshservice ITSM': 61, 'Aristocrat Technologies': 62, 'Dragon Link': 62, 'Seminole Hard Rock Hotel & Casino Tampa': 62, 'The Dance Academy of Loudoun': 63, 'Tyson Foods': 64, 'The state Department of Community and Economic Development': 64, 'Medicaid': 65, 'Nebraska': 65, 'healthcare': 65, 'PG&E': 68, 'the Board of Directors': 69, "Lloyd's of London": 70, 'Huawei': 71, 'ByteDance': 72, 'Rabo AgriFinances ag': 73, 'Tech Community College': 74, 'Kristen Schunk Moreland': 74, 'Change Management': 74, 'Strate': 74, 'Dominion Energy': 77, 'Amul': 78, 'MediaBrains': 79, 'Spectrum Networks': 80, 'the Spectrum News App': 80, 'The Spectrum News App': 80, 'Fidelity': 81, 'Avocado': 81, 'Security Labs Community Edition': 82, 'Walton': 83, 'NASA': 84, 'Globant SA': 86, 'the Continuity Studio': 86, 'Ineos Hygienics': 87, "Domino's Pizza": 88, 'Dominos Pizza': 89, 'CMO': 89, 'Cielo': 90, 'Bridgestone Americas': 90, 'ANN': 91, 'MICH': 91, 'Dominos Pizza,': 91, 'the Behavioral Health Docket Team': 92, 'Diana Fetterer': 92, 'McDermott Will & Emery': 93, 'Starwood Energy Group Global': 94, 'LLC': 94, 'Coplin Health Systems': 95, 'Wirt County Family Care': 95, 'Walker': 95, 'Cores': 96, 'Capitol Federal Financial': 97, 'Board of Directors': 97, 'the Size of Board': 97, 'Durante Rentals': 99, 'Liam': 99, 'The Pakistan Cricket Board': 100, 'PCB': 100, 'the Board of Governors': 100, 'Zilliqa': 101, 'the Marvell Board': 102, 'Marvell': 102, 'StoneLock': 103, 'Ross': 104, 'Brand, Communications and Marketing': 105, 'the Group Leadership Team': 105, 'Acutus Medical': 106, 'Checkmate Pharmaceuticals': 107, 'Eventbrite Inc.': 108, 'AlloVir': 109, 'Vital Farms Inc.': 111, 'Whole Foods': 112, 'Nasdaq': 112, 'ESSA Pharma Inc.': 113}

In [228]:
# !pip3 install fuzzywuzzy
# !pip3 install python-Levenshtein

In [229]:
from fuzzywuzzy import fuzz

In [230]:
final_dictionary = {}

for key, val in company_names_description_new.items():

  for i in range(0 , len(master)):

    if fuzz.partial_ratio(key, master.loc[i, "name"]) > 70:

      final_dictionary.setdefault(val,[])
      final_dictionary[val].append(master.loc[i, "_id"])

In [231]:
len(final_dictionary)

41

In [232]:
final_dictionary

{1: [31, 32],
 4: [34, 33],
 5: [35],
 6: [36],
 7: [38],
 8: [40],
 18: [43],
 19: [43],
 21: [44, 44],
 23: [42],
 25: [29, 45],
 33: [41],
 35: [41, 46],
 36: [16],
 39: [25, 3, 2],
 41: [5],
 46: [7],
 49: [6],
 51: [44],
 53: [8, 33, 9],
 54: [10, 11, 12, 27],
 59: [10, 12, 14, 27, 33],
 60: [10, 11, 12, 14, 27],
 61: [14, 29, 12, 14, 27, 29],
 62: [12, 27],
 65: [8],
 77: [17],
 78: [14, 29, 45],
 81: [18],
 87: [24],
 88: [17, 19],
 89: [17, 19],
 90: [28],
 91: [17, 19],
 94: [2],
 96: [2],
 101: [26],
 102: [25],
 107: [22],
 108: [21],
 109: [20]}

In [233]:
blogs.set_index("_id")

       theme  ...                  published_on
_id           ...
1    funding  ...  2020-07-31T15:41:00.0000000Z
2    funding  ...  2020-08-01T00:02:00.0000000Z
3    funding  ...  2020-07-31T22:36:00.0000000Z
4    funding  ...  2020-08-01T06:29:00.0000000Z
5    funding  ...  2020-07-31T18:47:00.0000000Z
..       ...  ...                           ...
109     ipos  ...  2020-07-31T12:25:00.0000000Z
110     ipos  ...  2020-07-31T10:48:00.0000000Z
111     ipos  ...  2020-07-31T16:45:00.0000000Z
112     ipos  ...  2020-07-31T20:26:00.0000000Z
113     ipos  ...  2020-07-31T14:21:00.0000000Z

[113 rows x 5 columns]

In [234]:
print("final dictionary in format {'blog_id': 'company ids'}\n", final_dictionary)

final dictionary in format {'blog_id': 'company ids'}
 {1: [31, 32], 4: [34, 33], 5: [35], 6: [36], 7: [38], 8: [40], 35: [41, 46], 18: [43], 19: [43], 21: [44, 44], 23: [42], 25: [29, 45], 33: [41], 36: [16], 39: [25, 3, 2], 41: [5], 46: [7], 49: [6], 51: [44], 53: [8, 33, 9], 54: [10, 11, 12, 27], 59: [10, 12, 14, 27, 33], 60: [10, 11, 12, 14, 27], 61: [14, 29, 12, 14, 27, 29], 62: [12, 27], 65: [8], 77: [17], 78: [14, 29, 45], 81: [18], 87: [24], 88: [17, 19], 89: [17, 19], 90: [28], 91: [17, 19], 94: [2], 96: [2], 101: [26], 102: [25], 107: [22], 108: [21], 109: [20]}

In [235]:
final_dictionary

{1: [31, 32],
 4: [34, 33],
 5: [35],
 6: [36],
 7: [38],
 8: [40],
 18: [43],
 19: [43],
 21: [44, 44],
 23: [42],
 25: [29, 45],
 33: [41],
 35: [41, 46],
 36: [16],
 39: [25, 3, 2],
 41: [5],
 46: [7],
 49: [6],
 51: [44],
 53: [8, 33, 9],
 54: [10, 11, 12, 27],
 59: [10, 12, 14, 27, 33],
 60: [10, 11, 12, 14, 27],
 61: [14, 29, 12, 14, 27, 29],
 62: [12, 27],
 65: [8],
 77: [17],
 78: [14, 29, 45],
 81: [18],
 87: [24],
 88: [17, 19],
 89: [17, 19],
 90: [28],
 91: [17, 19],
 94: [2],
 96: [2],
 101: [26],
 102: [25],
 107: [22],
 108: [21],
 109: [20]}

In [236]:
blogs['title'][4]

'Golden West Food Group, Cooks Venture Raise $10 Million For Regenerative Agriculture Business'

In [237]:
try:
  
  for k, v in final_dictionary.items():
    # print("key \n", k)
    new_row = {'blog_id':k, 'title': blogs["title"][k-1], 'description': blogs["description"][k-1], 'company_ids': final_dictionary[k]}
    output = output.append(new_row, ignore_index=True)

except Exception as e :
  print("\n\n", e)

In [238]:
len(output)

41

In [239]:
output

   blog_id  ...               company_ids
0        1  ...                  [31, 32]
1        4  ...                  [34, 33]
2        5  ...                      [35]
3        6  ...                      [36]
4        7  ...                      [38]
5        8  ...                      [40]
6       35  ...                  [41, 46]
7       18  ...                      [43]
8       19  ...                      [43]
9       21  ...                  [44, 44]
10      23  ...                      [42]
11      25  ...                  [29, 45]
12      33  ...                      [41]
13      36  ...                      [16]
14      39  ...                [25, 3, 2]
15      41  ...                       [5]
16      46  ...                       [7]
17      49  ...                       [6]
18      51  ...                      [44]
19      53  ...                [8, 33, 9]
20      54  ...          [10, 11, 12, 27]
21      59  ...      [10, 12, 14, 27, 33]
22      60  ...      [10, 11, 12, 14, 27]
23      61  ...  [14, 29, 12, 14, 27, 29]
24      62  ...                  [12, 27]
25      65  ...                       [8]
26      77  ...                      [17]
27      78  ...              [14, 29, 45]
28      81  ...                      [18]
29      87  ...                      [24]
30      88  ...                  [17, 19]
31      89  ...                  [17, 19]
32      90  ...                      [28]
33      91  ...                  [17, 19]
34      94  ...                       [2]
35      96  ...                       [2]
36     101  ...                      [26]
37     102  ...                      [25]
38     107  ...                      [22]
39     108  ...                      [21]
40     109  ...                      [20]

[41 rows x 4 columns]

In [240]:
output.to_csv("output-sheet_new_lg.csv", index = False)