<a href="https://colab.research.google.com/github/ssunwalka01/NER/blob/master/Slintel_Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- importing the libraries here...

In [401]:
import nltk
# nltk.download()
import pandas as pd
import spacy
# from spacy import displacy
# from collections import Counter
import en_core_web_lg
nlp = en_core_web_lg.load()

In [402]:
# !python -m spacy download en_core_web_lg

In [403]:
master = pd.read_csv("/content/master-company-sheet.csv")
blogs = pd.read_csv("/content/news-data.csv")
output = pd.read_csv("/content/output-sheet.csv")

In [404]:
print("master sheet", master.head())
print("\n\nmaster sheet data types\n", master.dtypes)

master sheet    _id                            name
0    1                      Telefónica
1    2             Corsair Capital LLC
2    3                            MSTS
3    4  Franklin Templeton Investments
4    5                      Legg Mason


master sheet data types
 _id      int64
name    object
dtype: object

In [405]:
print("blogs sheet", blogs.head())
print("\n\n blogs sheet data types\n", blogs.dtypes)

blogs sheet    _id  ...                  published_on
0    1  ...  2020-07-31T15:41:00.0000000Z
1    2  ...  2020-08-01T00:02:00.0000000Z
2    3  ...  2020-07-31T22:36:00.0000000Z
3    4  ...  2020-08-01T06:29:00.0000000Z
4    5  ...  2020-07-31T18:47:00.0000000Z

[5 rows x 6 columns]


 blogs sheet data types
 _id              int64
theme           object
source          object
title           object
description     object
published_on    object
dtype: object

In [406]:
print("output sheet", output.head())
print("\n\n output sheet data types\n", output.dtypes)

output sheet Empty DataFrame
Columns: [blog_id, title, description, company_ids]
Index: []


 output sheet data types
 blog_id        object
title          object
description    object
company_ids    object
dtype: object

In [407]:
# demo = []
# def dictionary_with_title_description(df):
#   " This function will return dictionaries containing blog id, company names from title, and company name from description"
  
#   company_names_title = {} # initialising empty dictionary for company names extracted from title
#   company_names_description = {} # initialising empty dictionary for company names extracted from description
#   descriptionDict = {} # {index : [blog_id, title, description], index_2 : ...}
  
#   for i in range(0, len(df)):
    
#     descriptionDict.setdefault(i, [])
#     # The magic of setdefault is that it initializes the value for that key if that key is not defined, otherwise it does nothing.
#     descriptionDict[i].append(df.loc[i, "_id"]) # will be adding multiple values in a single key (Here, adding _id)

#     #  title
#     descriptionDict.setdefault(i, [])
#     descriptionDict[i].append(df.loc[i, "title"]) # adding title as value in dictionay

#     # description
#     descriptionDict.setdefault(i, [])
#     descriptionDict[i].append(df.loc[i, "description"]) #adding description as value in the dictionary

#   for i in range(0, len(df)):
#     doc = nlp(descriptionDict[i][2])

#     for X in doc.ents:
#       #print((X.text, X.label_, type(X.text), type(X.label_)))
      
#       if X.label_ == 'ORG':
#         company_names_description.update({descriptionDict[i][0]:X.text})
#         demo.append([descriptionDict[i][0], X.text])
#   print("complete demo list- ", demo)
#   print("company_names_description- ",company_names_description)
#   for i in range(0, len(df)):
#     titl = nlp(descriptionDict[i][1])
    
#     for X in titl.ents:
#       #print((X.text, X.label_, type(X.text), type(X.label_)))
      
#       if X.label_ == 'ORG':
#         company_names_title.update({descriptionDict[i][0]:X.text})

#   return descriptionDict, company_names_description, company_names_title

In [408]:
demo = []
def dictionary_with_title_description(df):
  " This function will return dictionaries containing blog id, company names from title, and company name from description"
  
  company_names_title = {} # initialising empty dictionary for company names extracted from title
  company_names_description = {} # initialising empty dictionary for company names extracted from description
  descriptionDict = {} # {index : [blog_id, title, description], index_2 : ...}
  
  for i in range(0, len(df)):
    
    descriptionDict.setdefault(i, [])
    # The magic of setdefault is that it initializes the value for that key if that key is not defined, otherwise it does nothing.
    descriptionDict[i].append(df.loc[i, "_id"]) # will be adding multiple values in a single key (Here, adding _id)

    #  title
    descriptionDict.setdefault(i, [])
    descriptionDict[i].append(df.loc[i, "title"]) # adding title as value in dictionay

    # description
    descriptionDict.setdefault(i, [])
    descriptionDict[i].append(df.loc[i, "description"]) #adding description as value in the dictionary

  for i in range(0, len(df)):
    doc = nlp(descriptionDict[i][2])

    for X in doc.ents:
      #print((X.text, X.label_, type(X.text), type(X.label_)))
      
      if X.label_ == 'ORG':

        company_names_description.setdefault(descriptionDict[i][0], [])
        company_names_description[descriptionDict[i][0]].append(X.text)

        # company_names_description.update({descriptionDict[i][0]:X.text})
        demo.append([descriptionDict[i][0], X.text])
  print("complete demo list- ", demo)
  print("company_names_description- ",company_names_description)
  for i in range(0, len(df)):
    titl = nlp(descriptionDict[i][1])
    
    for X in titl.ents:
      #print((X.text, X.label_, type(X.text), type(X.label_)))
      
      if X.label_ == 'ORG':
        # company_names_title.update({descriptionDict[i][0]:X.text})

        company_names_title.setdefault(descriptionDict[i][0], [])
        company_names_title[descriptionDict[i][0]].append(X.text)
  print("company_names_TITLE- ",company_names_title)


  return descriptionDict, company_names_description, company_names_title

In [409]:
descriptionDict, company_names_description, company_names_title = dictionary_with_title_description(blogs)

complete demo list-  [[1, 'Xpeng Motors'], [1, 'Tesla'], [1, 'CNBC'], [3, 'Fenwick'], [3, 'Lemonaid Health'], [3, 'Olive Tree Ventures'], [4, 'United Community Banks'], [4, 'UCBI'], [4, 'ValuEngine'], [4, 'œsell'], [4, 'ValuEngine'], [5, 'Golden West Food Group'], [5, 'Cooks Venture'], [6, 'Amazon'], [7, 'XBiotech'], [8, 'Kodak'], [8, 'Trump'], [10, 'Louis Juneau'], [10, 'Corporate'], [11, 'Apple'], [12, 'Microsoft'], [12, 'TikTok'], [12, 'White House'], [13, 'Nvidia'], [13, "SoftBank Group's"], [13, 'Arm Holdings'], [13, 'Bloomberg'], [13, 'Nvidia'], [14, 'Microsoft'], [14, 'TikTok'], [15, 'State'], [15, 'TikTok'], [15, 'TikTok'], [17, 'Nvidia'], [17, 'Arm Holdings'], [18, 'Alta'], [18, 'Alta Equipment Group Inc.'], [18, 'Martin Implement Sales Inc.'], [19, 'Alta Equipment Group'], [19, 'NYSE'], [19, 'ALTG'], [19, 'Martin'], [20, 'Advent International'], [20, 'RA Chem Pharma'], [20, 'Micro Labs Limited'], [21, 'Gencor Industries, Inc.'], [21, 'œGencor'], [21, 'NASDAQ'], [21, 'GENC'], [21, 'Blaw-Knox'], [21, 'Volvo CE'], [22, 'Microsoft'], [22, 'TikTok'], [23, 'Bloomberg'], [23, 'Nvidia Corp.'], [23, 'Arm Ltd.'], [23, 'SoftBank Group Corp.'], [24, 'Microsoft'], [24, 'TikTok'], [25, 'PAI Partners'], [25, 'Amplitude Surgical'], [26, 'TikTok'], [26, 'TikTok'], [26, 'State'], [26, 'TikTok'], [27, 'Microsoft'], [27, 'TikTok'], [27, 'Chinas ByteDance'], [27, 'Bloomberg'], [27, 'ByteDance'], [28, 'SinglePoint Inc.'], [28, 'SinglePoint'], [28, 'Direct Solar of America'], [28, 'Standard Eco Solar'], [29, 'Trump'], [29, 'ByteDance'], [29, 'TikTok'], [30, 'Microsoft'], [30, 'TikTok'], [31, 'TikTok'], [32, 'Trump'], [32, 'TikTok'], [33, 'Microsoft Corp.'], [33, 'TikToks'], [33, 'Microsoft'], [34, 'Microsoft'], [34, 'TikTok'], [35, 'Microsoft'], [35, 'TikTok'], [35, 'TikTok'], [36, 'Nokia'], [36, 'Vecima Networks'], [36, 'Vecima'], [37, 'Nvidia'], [37, 'SoftBank'], [37, 'the Financial Times'], [38, 'Liberty Latin America'], [39, 'Multi Service Technology Solutions'], [39, 'MSTS'], [39, 'Corsair Capital'], [41, 'Legg Mason,'], [41, 'NYSE'], [41, 'LM'], [42, 'The European Commission'], [42, 'Bombardier'], [42, 'Alstom'], [43, 'Corners Property Trust'], [43, 'NYSE'], [43, 'FCPT'], [44, 'SEC'], [45, 'KKR'], [45, 'MasterD'], [45, 'MasterDss'], [45, 'KKR'], [46, 'Morgan Stanley'], [46, 'National Research Co.'], [46, 'NASDAQ:NRC'], [46, 'the Securities & Exchange Commission'], [47, 'RA Chem Pharma'], [48, 'IPS Cable Systems'], [48, 'Seacom'], [48, 'the Comesa Competition Commission'], [49, 'XCMG'], [49, 'The XCMG Aerial Work Platform Products Experience Day'], [50, 'Wedbush'], [50, 'AAPL'], [50, 'Apple'], [50, 'iPhone 12 super cycle'], [51, 'Xencor, Inc.'], [52, 'Christensen Farms'], [52, 'the Iowa Disposal Assistance Program'], [53, 'Editas Medicine,'], [53, 'Catalent'], [54, 'NYSE'], [54, 'LHX'], [54, 'EOTech'], [54, 'American Holoptics'], [54, 'Koucar Management'], [55, 'Onosys'], [55, 'ItsaCheckmate'], [55, 'POS systems'], [56, 'Finance & Treasury'], [56, 'CFO'], [57, 'IR Bill Brown'], [58, 'The National Institutes of Health'], [59, 'fintech'], [59, 'omni-channel loan origination system ('], [59, "Access Business Technologies'"], [59, 'MortgageExchange'], [60, 'TTM Technologies'], [60, 'BidaskClub'], [60, 'œbuy'], [61, 'Compulink Technolog'], [61, 'Compulink Technologies'], [61, 'USNY'], [61, 'Freshservice ITSM'], [61, 'Freshworks.'], [62, 'Aristocrat Technologies'], [62, 'Dragon Link'], [62, 'Seminole Hard Rock Hotel & Casino'], [63, 'The Dance Academy of Loudoun'], [64, 'Tyson Foods'], [64, 'The state Department of Community and Economic Development'], [65, 'Medicaid'], [65, 'Nebraska'], [65, 'Medicaid'], [68, 'PG&E'], [69, 'the Board of Directors'], [70, "Lloyd's of London"], [71, 'Huawei'], [72, 'Trump'], [72, 'TikTok'], [72, 'ByteDance'], [73, 'Rabo AgriFinances ag'], [74, 'Tech Community College'], [74, 'Change Management'], [74, 'Strate'], [75, 'Dominion Energy'], [76, 'Dominion Energy'], [77, 'Dominion Energy'], [78, 'Amul'], [79, 'MediaBrains'], [80, 'the Spectrum News App'], [80, 'The Spectrum News App'], [81, 'Fidelity'], [81, 'Avocado'], [82, 'Veracode'], [82, 'Security Labs Community Edition'], [82, 'Enterprise Edition'], [83, 'Kargi'], [84, 'NASA'], [85, 'Alfa Chemistry Materials'], [86, 'NYSE'], [86, 'Continuity Studio'], [87, 'Ineos Hygienics'], [88, "Domino's"], [88, "Art D'Elia"], [88, "D'Elia"], [89, 'Dominos Pizza'], [89, 'CMO'], [90, 'Cielo'], [90, 'Bridgestone Americas'], [91, 'Dominos Pizza,'], [92, 'the Behavioral Health Docket Team'], [93, 'McDermott Will & Emery'], [94, 'Starwood Energy Group Global, LLC'], [94, 'Starwood Energy'], [95, 'Coplin Health Systems'], [97, 'Capitol Federal Financial, Inc'], [97, 'Board of Directors'], [100, 'The Pakistan Cricket Board'], [100, 'PCB'], [100, 'CFO'], [100, 'CFO'], [100, 'the Board of Governors'], [101, 'Zilliqa'], [101, 'Onchain Custodian'], [102, 'the Marvell Board'], [102, 'Marvell'], [103, 'StoneLock'], [105, 'Nordea'], [105, 'Brand, Communications and Marketing'], [105, 'the Group Leadership Team'], [106, 'Acutus Medical'], [107, 'Checkmate Pharmaceuticals'], [108, 'Eventbrite Inc.'], [108, 'Hartz'], [110, 'SenseTime'], [111, 'Vital Farms Inc.'], [112, 'Whole Foods'], [112, 'Nasdaq'], [113, 'ESSA Pharma Inc.'], [113, 'EPIX']]
company_names_description-  {1: ['Xpeng Motors', 'Tesla', 'CNBC'], 3: ['Fenwick', 'Lemonaid Health', 'Olive Tree Ventures'], 4: ['United Community Banks', 'UCBI', 'ValuEngine', 'œsell', 'ValuEngine'], 5: ['Golden West Food Group', 'Cooks Venture'], 6: ['Amazon'], 7: ['XBiotech'], 8: ['Kodak', 'Trump'], 10: ['Louis Juneau', 'Corporate'], 11: ['Apple'], 12: ['Microsoft', 'TikTok', 'White House'], 13: ['Nvidia', "SoftBank Group's", 'Arm Holdings', 'Bloomberg', 'Nvidia'], 14: ['Microsoft', 'TikTok'], 15: ['State', 'TikTok', 'TikTok'], 17: ['Nvidia', 'Arm Holdings'], 18: ['Alta', 'Alta Equipment Group Inc.', 'Martin Implement Sales Inc.'], 19: ['Alta Equipment Group', 'NYSE', 'ALTG', 'Martin'], 20: ['Advent International', 'RA Chem Pharma', 'Micro Labs Limited'], 21: ['Gencor Industries, Inc.', 'œGencor', 'NASDAQ', 'GENC', 'Blaw-Knox', 'Volvo CE'], 22: ['Microsoft', 'TikTok'], 23: ['Bloomberg', 'Nvidia Corp.', 'Arm Ltd.', 'SoftBank Group Corp.'], 24: ['Microsoft', 'TikTok'], 25: ['PAI Partners', 'Amplitude Surgical'], 26: ['TikTok', 'TikTok', 'State', 'TikTok'], 27: ['Microsoft', 'TikTok', 'Chinas ByteDance', 'Bloomberg', 'ByteDance'], 28: ['SinglePoint Inc.', 'SinglePoint', 'Direct Solar of America', 'Standard Eco Solar'], 29: ['Trump', 'ByteDance', 'TikTok'], 30: ['Microsoft', 'TikTok'], 31: ['TikTok'], 32: ['Trump', 'TikTok'], 33: ['Microsoft Corp.', 'TikToks', 'Microsoft'], 34: ['Microsoft', 'TikTok'], 35: ['Microsoft', 'TikTok', 'TikTok'], 36: ['Nokia', 'Vecima Networks', 'Vecima'], 37: ['Nvidia', 'SoftBank', 'the Financial Times'], 38: ['Liberty Latin America'], 39: ['Multi Service Technology Solutions', 'MSTS', 'Corsair Capital'], 41: ['Legg Mason,', 'NYSE', 'LM'], 42: ['The European Commission', 'Bombardier', 'Alstom'], 43: ['Corners Property Trust', 'NYSE', 'FCPT'], 44: ['SEC'], 45: ['KKR', 'MasterD', 'MasterDss', 'KKR'], 46: ['Morgan Stanley', 'National Research Co.', 'NASDAQ:NRC', 'the Securities & Exchange Commission'], 47: ['RA Chem Pharma'], 48: ['IPS Cable Systems', 'Seacom', 'the Comesa Competition Commission'], 49: ['XCMG', 'The XCMG Aerial Work Platform Products Experience Day'], 50: ['Wedbush', 'AAPL', 'Apple', 'iPhone 12 super cycle'], 51: ['Xencor, Inc.'], 52: ['Christensen Farms', 'the Iowa Disposal Assistance Program'], 53: ['Editas Medicine,', 'Catalent'], 54: ['NYSE', 'LHX', 'EOTech', 'American Holoptics', 'Koucar Management'], 55: ['Onosys', 'ItsaCheckmate', 'POS systems'], 56: ['Finance & Treasury', 'CFO'], 57: ['IR Bill Brown'], 58: ['The National Institutes of Health'], 59: ['fintech', 'omni-channel loan origination system (', "Access Business Technologies'", 'MortgageExchange'], 60: ['TTM Technologies', 'BidaskClub', 'œbuy'], 61: ['Compulink Technolog', 'Compulink Technologies', 'USNY', 'Freshservice ITSM', 'Freshworks.'], 62: ['Aristocrat Technologies', 'Dragon Link', 'Seminole Hard Rock Hotel & Casino'], 63: ['The Dance Academy of Loudoun'], 64: ['Tyson Foods', 'The state Department of Community and Economic Development'], 65: ['Medicaid', 'Nebraska', 'Medicaid'], 68: ['PG&E'], 69: ['the Board of Directors'], 70: ["Lloyd's of London"], 71: ['Huawei'], 72: ['Trump', 'TikTok', 'ByteDance'], 73: ['Rabo AgriFinances ag'], 74: ['Tech Community College', 'Change Management', 'Strate'], 75: ['Dominion Energy'], 76: ['Dominion Energy'], 77: ['Dominion Energy'], 78: ['Amul'], 79: ['MediaBrains'], 80: ['the Spectrum News App', 'The Spectrum News App'], 81: ['Fidelity', 'Avocado'], 82: ['Veracode', 'Security Labs Community Edition', 'Enterprise Edition'], 83: ['Kargi'], 84: ['NASA'], 85: ['Alfa Chemistry Materials'], 86: ['NYSE', 'Continuity Studio'], 87: ['Ineos Hygienics'], 88: ["Domino's", "Art D'Elia", "D'Elia"], 89: ['Dominos Pizza', 'CMO'], 90: ['Cielo', 'Bridgestone Americas'], 91: ['Dominos Pizza,'], 92: ['the Behavioral Health Docket Team'], 93: ['McDermott Will & Emery'], 94: ['Starwood Energy Group Global, LLC', 'Starwood Energy'], 95: ['Coplin Health Systems'], 97: ['Capitol Federal Financial, Inc', 'Board of Directors'], 100: ['The Pakistan Cricket Board', 'PCB', 'CFO', 'CFO', 'the Board of Governors'], 101: ['Zilliqa', 'Onchain Custodian'], 102: ['the Marvell Board', 'Marvell'], 103: ['StoneLock'], 105: ['Nordea', 'Brand, Communications and Marketing', 'the Group Leadership Team'], 106: ['Acutus Medical'], 107: ['Checkmate Pharmaceuticals'], 108: ['Eventbrite Inc.', 'Hartz'], 110: ['SenseTime'], 111: ['Vital Farms Inc.'], 112: ['Whole Foods', 'Nasdaq'], 113: ['ESSA Pharma Inc.', 'EPIX']}
company_names_TITLE-  {1: ['Xpeng Motors'], 3: ['Fenwick-Led Telehealth Co. Raises'], 4: ['United Community Banks'], 5: ['Golden West Food Group', 'Cooks Venture Raise'], 6: ['Amazon'], 7: ['Working On The Next Bermekimab'], 8: ['Kodak'], 9: ["Mammoth Energy Services'"], 10: ['Uni-Select Inc.', 'UNIEF'], 11: ['Apple Reports'], 12: ['Microsoft'], 13: ['Nvidia'], 14: ['Microsoft', 'TikTok'], 15: ['Microsoft', 'Tiktoks US Operations', 'Trump'], 16: ['Microsoft', 'TikTok'], 17: ['Nvidia', 'Arm Holdings'], 18: ['Alta Equipment'], 19: ['Alta Equipment'], 20: ['RA Chem Pharma'], 21: ['Gencor Industries, Inc.', 'Blaw-Knox Paver Business', 'Volvo CE'], 22: ['Microsoft', 'TikTok'], 23: ['Nvidia', 'Advanced Talks'], 24: ['Microsoft', 'TikTok'], 25: ['PAI Partners', 'Amplitude Surgical'], 26: ['Microsoft'], 27: ['Microsoft'], 28: ['SinglePoint Subsidiary Enters Into Letter of Intent'], 29: ['Microsoft', 'TikToks', 'Trump'], 30: ['Microsoft'], 31: ['Microsoft', 'TikTok'], 32: ['TikTok', 'Microsoft'], 33: ['Microsoft', 'TikToks US'], 34: ['Microsoft', 'TikTok'], 35: ['Microsoft', 'TikToks US'], 36: ['DAA', 'EPON/DPoE Portfolios', 'Nokia'], 37: ['Nvidia', 'Advanced Talks', 'SoftBank'], 38: ['Liberty Latin America', 'Telefonica Costa Rica'], 39: ['Corsair Capital', 'MSTS', 'World Fuel Services'], 40: ['Microsoft'], 41: ['Franklin Templeton Completes Acquisition', 'Legg Mason'], 42: ['EU', 'Alstom', 'Bombardier'], 43: ['FCPT'], 45: ['KKR'], 46: ['Morgan Stanley', 'National Research Co.', 'NASDAQ:NRC'], 47: ['Advent International', 'RA Chem Pharma'], 48: ['IPS', 'Seacom'], 49: ['XCMG'], 50: ['Wedbush', 'AAPL'], 51: ['Xencor', 'MorphoSys', 'FDA', 'tafasitamab-cxix'], 53: ['Catalent Enters', 'Strategic Partnership', 'Editas Medicine'], 54: ['Technologies Completes Sale of EOTech', 'American Holoptics'], 55: ['Onosys', 'ItsaCheckmate Integrate Technologies', 'Provide Advanced Enterprise Restaurant Ordering Solutions'], 56: ['Minerals Technologies,', 'MTX'], 57: ['Technologies,', 'LHX'], 58: ['NIH'], 59: ['Third-Party Systems'], 60: ['TTM Technologies', 'BidaskClub'], 61: ['Compulink Technologies', 'Freshworks Streamline IT Support for Higher Education', 'USNY'], 62: ['Seminole Hard Rock Tampa'], 63: ['Dance Academy of Loudoun', 'Leesburg Tech Park'], 64: ['Tyson Foods'], 65: ['Medicaid'], 66: ['Merck', 'Pall Corporation', 'Pentair', 'Alfa Laval'], 68: ['PG&E', 'CECO'], 70: ["Lloyd's Wants Women"], 71: ['Nokia'], 72: ['TikTok'], 73: ['Rabo AgriFinance Leadership Team'], 75: ['Dominion Energy'], 76: ['Dominion'], 77: ['Dominion Energy Names New Executive Leadership'], 78: ['Amul'], 79: ['RPN', 'Rubber News Directory', 'MediaBrains'], 81: ['Fidelity Spire Beats Project Avocado To Launch'], 82: ['Veracode Security Labs Community Edition'], 83: ['Walton'], 85: ['Alfa Chemistry Materials Launches Alternative Energy Materials for Renewable Energy Technology Development'], 87: ['Ineos Launches Global Business to Market Sanitizer Products'], 89: ['Dominos Pizza Promotes Art DElia', 'EVP', 'CMO'], 90: ['Bridgestone', 'Cielo, Seidel'], 91: ['Dominos'], 92: ['Newly Formed Behavioral Health Docket'], 93: ['Powerhouse International Trade Team'], 94: ['Starwood Energy'], 95: ['Coplin Health Systems'], 97: ['Capitol Federal Financial, Inc', 'Board of Directors'], 98: ['Kona Community Hospital'], 100: ['PCB', 'CFO'], 101: ['Zilliqa', 'Onchain Custodian'], 102: ['Marvell', 'AT&T', 'Board of Directors'], 103: ['StoneLock', 'GM'], 104: ['Feenics'], 105: ['Nordea'], 107: ['Checkmate Pharmaceuticals Begins IPO'], 110: ['SenseTime', 'STAR market IPO'], 111: ['Vital Farms'], 113: ['ESSA Pharma Completes Public Offering for Aggregate Gross Proceeds']}

In [410]:
final_dictionary = {}
try:
  for key, value in company_names_description.items():
    # print("Value at o", value[0])
    
    for j in range(0, len(master)):

      for k in range(0, len(value)):
        
        if (value[k] == master.loc[j, "name"]):
          
          final_dictionary.setdefault(key, [])
          final_dictionary[key].append(master.loc[j, "_id"])

except:
  print("RA")

In [411]:
final_dictionary

{1: [31],
 6: [36],
 7: [38],
 8: [40],
 13: [42, 42],
 17: [42],
 25: [45],
 37: [42],
 39: [3],
 60: [12],
 61: [14],
 78: [29],
 105: [23],
 107: [22]}

In [412]:
try:
  for key, value in company_names_title.items():
    # print("Value at o", value[0])
    
    for j in range(0, len(master)):

      for k in range(0, len(value)):
        
        if (value[k] == master.loc[j, "name"]):
          
          final_dictionary.setdefault(key, [])
          final_dictionary[key].append(master.loc[j, "_id"])

except:
  print("RA")

In [413]:
final_dictionary

{1: [31, 31],
 6: [36, 36],
 7: [38],
 8: [40, 40],
 13: [42, 42, 42],
 17: [42, 42],
 18: [43],
 19: [43],
 23: [42],
 25: [45, 45],
 37: [42, 42],
 39: [3, 3],
 41: [5],
 53: [8],
 58: [13],
 60: [12, 12],
 61: [14, 14],
 76: [17],
 78: [29, 29],
 104: [24],
 105: [23, 23],
 107: [22]}

In [414]:
blogs.set_index("_id")

       theme  ...                  published_on
_id           ...
1    funding  ...  2020-07-31T15:41:00.0000000Z
2    funding  ...  2020-08-01T00:02:00.0000000Z
3    funding  ...  2020-07-31T22:36:00.0000000Z
4    funding  ...  2020-08-01T06:29:00.0000000Z
5    funding  ...  2020-07-31T18:47:00.0000000Z
..       ...  ...                           ...
109     ipos  ...  2020-07-31T12:25:00.0000000Z
110     ipos  ...  2020-07-31T10:48:00.0000000Z
111     ipos  ...  2020-07-31T16:45:00.0000000Z
112     ipos  ...  2020-07-31T20:26:00.0000000Z
113     ipos  ...  2020-07-31T14:21:00.0000000Z

[113 rows x 5 columns]

In [415]:
for k, v in final_dictionary.items():
  new_row = {'blog_id':k, 'title': blogs["title"][k], 'description': blogs["description"][k], 'company_ids': final_dictionary[k]}
  output = output.append(new_row, ignore_index=True)

In [416]:
output

   blog_id  ...   company_ids
0        1  ...      [31, 31]
1        6  ...      [36, 36]
2        7  ...          [38]
3        8  ...      [40, 40]
4       13  ...  [42, 42, 42]
5       17  ...      [42, 42]
6       25  ...      [45, 45]
7       37  ...      [42, 42]
8       39  ...        [3, 3]
9       60  ...      [12, 12]
10      61  ...      [14, 14]
11      78  ...      [29, 29]
12     105  ...      [23, 23]
13     107  ...          [22]
14      18  ...          [43]
15      19  ...          [43]
16      23  ...          [42]
17      41  ...           [5]
18      53  ...           [8]
19      58  ...          [13]
20      76  ...          [17]
21     104  ...          [24]

[22 rows x 4 columns]

In [417]:
output.to_csv("output-sheet_new_lg.csv", index = False)